main, h1{ padding: 1em;}

html{
  background-color: lightgray;
}
header{
  color: orangered;
  font-weight: 300;
}

img{
  height: 10rem;
  width: auto;
  border-radius:10%;
}

ul{
  list-style-type: none;
}

main p{
  color: orangered;
  background-color: gainsboro;
}

main li{
  border: thin solid black;
  padding: 1em;
  background-color: gainsboro;
}

footer{
  color: orangered ;
  border: thin solid black;
}
